$red-light: #e35252;
$red-dark: #ce2626;
$yellow-light: #f0ba3e;
$yellow-dark: #c89112;
$green-light: #2d582f;
$green-dark: #021903;

$body-background-color: $white;
$sidebar-color: $yellow-light;
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $yellow-light;
$feedback-color: $red-light;

$body-text-color: $green-dark;
$body-heading-color: $green-dark;
$search-result-preview-color: $green-dark;
$nav-child-link-color: $green-light;
$link-color: $green-light;
$btn-primary-color: $red-light;
$base-button-color: $red-dark;
